doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/jquery-3.2.1.js')
    script(src='/javascripts/editarForms.js')
  body(id="body" style='background-image: url("/images/imagem.jpg"); background-repeat:no-repeat;background-size: cover;style="width:50%;"')
    block content

