doctype html
html
    head
        title= title
        meta(charset="UTF-8")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/feed.css')

        script(src='/javascripts/jquery-3.2.1.js')
        script(src='/javascripts/editarForms.js')
        block content